%% This line tells emacs to use -*- erlang -*- mode for this file

{erl_opts, [warnings_as_errors]}.
{port_specs, [{"priv/i2c_interface.so", ["c_src/i2c_interface.c"]},
	      {"priv/spi_interface.so", ["c_src/spi_interface.c"]}]}.
{port_env, [{"LDFLAGS", "$LDFLAGS -lpthread"},
	    {"CFLAGS", "$CFLAGS -O3"}]}.
